.create-tournament-page {
    padding: 2rem;
    color: white;
  }
  
  .back-to-dashboard-icon {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 20;
  }
  
  .back-to-dashboard-icon:hover {
    transform: scale(1.1);
  }